@import url("https://fonts.googleapis.com/css2?family=Carter+One&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  line-height: 15vh;
  background-color: rgba(121, 121, 121, 0.541);
}
h1 {
  text-align: center;
  font-family: "Carter One", cursive;
  color: white;
  font-size: 1.8rem;
  text-transform: uppercase;
  letter-spacing: 10px;
  text-shadow: 0 1px 0 grey, 0 2px 0 grey, 0 3px 0 grey, 0 4px 0 grey,
    0 30px 5px rgba(0, 0, 0, 0.3);
}

section {
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
}

.gameArea {
  width: 50%;
  height: 300px;
  padding: 20px 0;
  background-color: rgba(121, 121, 121, 0.541);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4);
  border-radius: 8px;
}
h3.msg {
  color: white;
  padding: 5px;
}
button.btn {
  border-radius: 20px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.4);
  border: none;
  color: white;
  font-family: "Courier New", Courier, monospace;
  font-weight: bolder;
  letter-spacing: 1px;
  cursor: pointer;
}
button.btn:hover {
  letter-spacing: 2px;
  background-color: #000000cc;
  transition-property: all;
  transition-duration: 0.5s;
}

input {
  padding: 8px;
  text-align: center;
  border-radius: 20px;
  border: none;
  outline: none;
  color: black;
  margin: 1rem 0;
  font-size: 1.1rem;
}

.hidden {
  display: none;
}
